# This .gitignore file should be placed at the root of your git repo
# (not inside each Unity project folder)

# Unity-generated folders anywhere in the repo
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/*.log

# Blender backup files
*.blend1
*.blend1.meta

# MemoryCaptures and Recordings
**/[Mm]emoryCaptures/
**/[Rr]ecordings/

# Asset Store Tools (uncomment if needed)
#/Assets/AssetStoreTools*

# JetBrains Rider plugin & settings
**/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# VS cache, Gradle, etc.
**/.vs/
**/.gradle/

# Generated project files
**/ExportedObj/
**/.consulo/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.tmp
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.svd
**/*.pdb
**/*.mdb
**/*.opendb
**/*.VC.db

# Unity meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash & mono files
sysinfo.txt
mono_crash.*

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# TestRunner
**/InitTestScene*.unity*

# Addressables ignores
**/ServerData
**/[Aa]ssets/StreamingAssets/aa*
**/[Aa]ssets/AddressableAssetsData/link.xml*
**/[Aa]ssets/AddressableAssetsData/*/*.bin*
**/[Aa]ssets/Addressables_Temp*

# Visual Scripting
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
**/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated test scenes
**/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*